# docker
DOCKER_USER=ozcodingschool
DOCKER_REPOSITORY=ai-health
# fastapi
APP_VERSION=v1.0.0
SECRET_KEY=oz-codingschool-AI-health260127!@
COOKIE_DOMAIN=localhost
# ai-worker
AI_WORKER_VERSION=v1.0.0
# db
DB_HOST=localhost
DB_PORT=5432
DB_EXPOSE_PORT=5432
DB_USER=postgres
DB_PASSWORD=pw1234
DB_NAME=ai_health
# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=1234
REDIS_DB=0
REDIS_MAX_CONNECTION=100
# smtp
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=example@gmail.com
SMTP_PASSWORD=app_password_here
SMTP_FROM=example@gmail.com
